*{
  font-size: 20px;
  color:#815034;
}
nav {
  color: white;

}
.navbar-nav .nav-link {
    color: white;
}
a.nav-link {
  text-align: center;
}

a.nav-link:hover {
  background-color: #e9e5dc;
  color: #815034;
}

button.navbar-toggle {
  margin-left: auto;
}
body {
  padding: 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: black;
}
a:hover{
  color:white;
}

body{
  align-items: center;
}
body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}