nav {
  color: white;

}
.navbar-nav .nav-link {
    color: white;
}
body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: black;
}
a:hover{
  color:white;
}

.navbar-nav .nav-link>a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

.navbar-nav .nav-link > a.active {
  color: white;
  cursor: default;
}
body{
  align-items: center;
}
body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}