body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}