<%- include('./partials/header') %>

    <h1 class="header"><%= title %></h1>
    <h2>Home Page</h2>
    <p>Welcome to <%= title %></p>
    <br>
    <a href="/auth/google" class="login">Click here to log in&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  
<%- include('./partials/footer') %>
