<%- include('../partials/header') %>

<!-- empty img src for pet logos...may not be needed -->
<img src="">
<img src="">

<p>this is for the addPets page</p>

<!-- can split into two divs for column alignment according to wireframe-->
<!-- double check form action end point and method-->

<form action="/pet" method="POST">
    <div>
        <label>Name</label><input type ="text" name="name">
        <br>
        <label>Species</label>
            <select name="species">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
            </select>
        <br>
        <label>Age</label><input type ="number" name="age">
        <br>
        <label>Sex</label>
            <select name="sex">
                <option value="boy">Boy</option>
                <option value="girl">Girl</option>
            </select>
        <br>
        <label>Favorite Toy</label><input type ="text" name="favoriteToy">
        <br>
        <label>Birthday</label><input type ="date" name="birthday">

    </div>
    <br>
    <label>New Pet</label>
    <input type="submit" value="Add Pet">
</form>

<%- include('../partials/footer') %>
