<%- include('../partials/header') %>

<h1><%= pet.name %></h1>
<br>
<div>
    <form action="/pets" method="PUT">
        <label>
            Birthday:
            <input type="date" name="birthday">
        </label>
        <br>
        <label>
            Species:
            <select name="species">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
                <option value="bunny">Bunny</option>
                <option value="fish">Fish</option>
            </select>
        </label>
        <br>
        <label>
            Age:
            <input type="number" name="age">
        </label>
        <br>
        <label>
            Sex:
            <select name="sex">
                <option value="boy">Boy</option>
                <option value="girl">Girl</option>
            </select>
        </label>
        <br>
        <label>
            Favorite Toy(s):
            <input type="string" name="favoriteToy">
        </label> 
        <button type="submit">Save Changes</button>
    </form>
</div>

<%- include('../partials/footer') %>